.alert-dismissive  {
    color: #721c24 !important;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
  }
  
  .full-height {
    height: 100vh;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }
  
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: 84px;
  }
  
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  /* testimonials */


 
.testimonial{
padding-top: 70px;
margin: 50px 15px 0;
border: 1px solid #fff;
text-align: center;
position: relative;
transition: all 0.7s ease 0s;
}
.testimonial:hover{ border-color: #e7e3e3; }
.testimonial .pic{
width: 95px;
height: 95px;
border-radius: 50%;
background: #fff;
padding: 7px;
position:absolute;
top: -50px;
left: 50%;
overflow: hidden;
transform: translateX(-50%);
transition: all 0.7s ease 0s;
}
.testimonial:hover .pic{ background: #1d3033; }
.testimonial .pic img{
width: 100%;
height: auto;
border-radius: 50%;
}
.testimonial .title{
font-size: 16px;
font-weight: 700;
color: #ea9444;
text-transform: uppercase;
margin: 0 0 10px 0;
}
.testimonial .description{
font-size: 15px;
color: #999;
line-height: 25px;
border-bottom: 1px solid #f7f7f7;
padding: 0 25px 35px;
margin: 0;
}
.testimonial .testimonial-content{
padding: 15px 25px 12px;
border: 1px solid #f7f7f7;
border-top: none;
position: relative;
text-align: left;
transition: all 500ms ease 0s;
}
.testimonial:hover .testimonial-content{ border-color: #1d3033; }
.testimonial .testimonial-content:after{
content: "";
width: 100%;
height: 0;
background: #1d3033;
position: absolute;
bottom: 0;
left: 0;
z-index: -1;
transition: all 0.7s ease 0s;
}
.testimonial:hover .testimonial-content:after{ height: 100%; }
.testimonial-content .testimonial-profile{ display: inline-block; }
.testimonial .name{
font-size: 16px;
font-weight: 700;
color: #3d3d3d;
text-transform: uppercase;
margin: 0 0 3px;
transition: all 700ms ease 0s;
}
.testimonial:hover .name{ color: #fff; }
.testimonial .post{
font-size: 14px;
color: #ea9444;
text-transform: capitalize;
}
.testimonial .rating{
display: inline-block;
padding: 1px 5px;
margin: 0;
list-style: none;
background: #ea9444;
position: absolute;
right: 25px;
}
.testimonial .rating li{
display: inline-block;
font-size: 14px;
color: #fff;
}
.owl-theme .owl-controls{
width: 100%;
position: absolute;
top: 50%;
}
.owl-theme .owl-controls .owl-buttons div{
width: 45px;
height: 40px;
line-height: 37px;
border-radius: 3px;
background: #fff;
border: 1px solid #ececec;
padding: 0;
opacity: 1;
transition: all 0.4s ease-in-out 0s;
}
.owl-theme .owl-controls .owl-buttons div:hover{
background: #ea9444;
border-color: #ea9444;
}
.owl-prev,
.owl-next{
position: absolute;
left: -3%;
}
.owl-next{
left: auto;
right: -3%;
}
.owl-prev:before,
.owl-next:before{
content: "\f104";
font-family: "fontAwesome";
font-size: 25px;
color: #ececec;
}
.owl-next:before{ content: "\f105"; }
@media only screen and (max-width: 990px){
.owl-theme .owl-controls,
.owl-prev,
.owl-next{
position: relative;
left: 0;
right: 0;
}
}
@media only screen and (max-width: 768px){
.testimonial .testimonial-content{
padding: 15px 10px 12px;
}
.testimonial .rating{
right: 12px;
}
}




.preloader{ 
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
 }
.loader{
    width: 210px;
    height: 210px;
    margin: 50px auto;
}
.loader div{
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    animation: 3s linear 0s normal none infinite running loading-1;
}
.loader .box-1{
    top: 15px;
    left: 15px;
    background: rgba(255, 192, 0, 0.5);
    border-radius: 0 50% 50%;
    box-shadow: 0 0 15px #ffc000 inset, 0 0 15px rgba(255, 255, 255, 0.2);
}
.loader .box-2{
    top: 15px;
    right: 15px;
    background: rgba(227, 65, 114, 0.5);
    border-radius: 50% 0 50% 50%;
    box-shadow: 0 0 15px #e34172 inset, 0 0 15px rgba(255, 255, 255, 0.2);
}
.loader .box-3{
    bottom: 15px;
    left: 15px;
    background: rgba(134, 93, 194, 0.5);
    border-radius: 50% 50% 50% 0;
    box-shadow: 0 0 15px #865dc2 inset, 0 0 15px rgba(255, 255, 255, 0.2);
}
.loader .box-4{
    bottom: 15px;
    right: 15px;
    background: rgba(6, 148, 126, 0.5);
    border-radius: 50% 50% 0;
    box-shadow: 0 0 15px #06947e inset, 0 0 15px rgba(255, 255, 255, 0.2);
}
@-webkit-keyframes loading-1{
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@keyframes loading-1{
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
